In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date
import json

In [2]:
df = pd.read_csv('USvideos.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40949 entries, 0 to 40948
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                40949 non-null  object
 1   trending_date           40949 non-null  object
 2   title                   40949 non-null  object
 3   channel_title           40949 non-null  object
 4   category_id             40949 non-null  int64
 5   publish_time            40949 non-null  object
 6   tags                    40949 non-null  object
 7   views                   40949 non-null  int64
 8   likes                   40949 non-null  int64
 9   dislikes                40949 non-null  int64
 10  comment_count           40949 non-null  int64
 11  thumbnail_link          40949 non-null  object
 12  comments_disabled       40949 non-null  bool
 13  ratings_disabled        40949 non-null  bool
 14  video_error_or_removed  40949 non-null  bool
 15  description             40379 non-null  object
dtypes: bool(3), int64(5), object(8)
memory usage: 2.9+ MB

In [4]:
df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

In [5]:
with open('US_category_id.json') as json_file:
    jsondata = json.load(json_file)

In [6]:
catetory_dict = {}

for i in jsondata['items']:
    catetory_dict[i['id']] = i['snippet']['title']

In [7]:
category = pd.DataFrame.from_dict(catetory_dict, orient = 'index', columns = ['Category'])
category.sort_index()
category.index

Index(['1', '2', '10', '15', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36',
       '37', '38', '39', '40', '41', '42', '43', '44'],
      dtype='object')

In [8]:
def match(df, category):
    print(type(df))
    category_name = []
    for x in (df):
        for i in category:
            print(i)
#             if x == category.index:
#                 category_name.append(category)

In [9]:
category['category_id'] = category.index

In [10]:
category["category_id"] = category["category_id"].astype(str).astype(int)

In [11]:
category.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, 1 to 44
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Category     32 non-null     object
 1   category_id  32 non-null     int32
dtypes: int32(1), object(1)
memory usage: 384.0+ bytes

In [12]:
df = pd.merge(df, category, how = 'left', on = 'category_id')

In [13]:
df = df.drop(columns = ['thumbnail_link', 'thumbnail_link', 'ratings_disabled', 'video_error_or_removed', 'comments_disabled', 'description'])

In [14]:
df['publish_time'] = pd.to_datetime(df['publish_time'])

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40949 entries, 0 to 40948
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   video_id       40949 non-null  object
 1   trending_date  40949 non-null  object
 2   title          40949 non-null  object
 3   channel_title  40949 non-null  object
 4   category_id    40949 non-null  int64
 5   publish_time   40949 non-null  datetime64[ns, UTC]
 6   tags           40949 non-null  object
 7   views          40949 non-null  int64
 8   likes          40949 non-null  int64
 9   dislikes       40949 non-null  int64
 10  comment_count  40949 non-null  int64
 11  Category       40949 non-null  object
dtypes: datetime64[ns, UTC](1), int64(5), object(6)
memory usage: 3.1+ MB

In [16]:
df = df.drop(columns = ['title', 'channel_title', 'tags'])

In [17]:
df.head()

,video_id,trending_date,category_id,publish_time,views,likes,dislikes,comment_count,Category
0,2kyS6SvSYSE,17.14.11,22,2017-11-13 17:13:01+00:00,748374,57527,2966,15954,People & Blogs
1,1ZAPwfrtAFY,17.14.11,24,2017-11-13 07:30:00+00:00,2418783,97185,6146,12703,Entertainment
2,5qpjK5DgCt4,17.14.11,23,2017-11-12 19:05:24+00:00,3191434,146033,5339,8181,Comedy
3,puqaWrEC7tY,17.14.11,24,2017-11-13 11:00:04+00:00,343168,10172,666,2146,Entertainment
4,d380meD0W0M,17.14.11,24,2017-11-12 18:01:41+00:00,2095731,132235,1989,17518,Entertainment

In [18]:
first_col = df.pop('category_id')
df.insert(7, 'category_id', first_col)

In [19]:
df['trending_date'] = df['trending_date'].replace('\.', '', regex = True)
df['trending_date'] = df['trending_date'].astype(str).astype(int)

In [20]:
df['trending_date'] = df['trending_date'] + 20000000

In [21]:
df['trending_date'] = pd.to_datetime(df['trending_date'], format='%Y%d%m')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40949 entries, 0 to 40948
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   video_id       40949 non-null  object
 1   trending_date  40949 non-null  datetime64[ns]
 2   publish_time   40949 non-null  datetime64[ns, UTC]
 3   views          40949 non-null  int64
 4   likes          40949 non-null  int64
 5   dislikes       40949 non-null  int64
 6   comment_count  40949 non-null  int64
 7   category_id    40949 non-null  int64
 8   Category       40949 non-null  object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), int64(5), object(2)
memory usage: 2.8+ MB