In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import json
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('cleanDF.csv', index_col = 0, parse_dates = ['publish_time'])

In [3]:
df.head()

,video_id,trending_date,publish_time,views,likes,dislikes,comment_count,category_id,Category
0,2kyS6SvSYSE,2017-11-14,2017-11-13 17:13:01+00:00,748374,57527,2966,15954,22,People & Blogs
1,1ZAPwfrtAFY,2017-11-14,2017-11-13 07:30:00+00:00,2418783,97185,6146,12703,24,Entertainment
2,5qpjK5DgCt4,2017-11-14,2017-11-12 19:05:24+00:00,3191434,146033,5339,8181,23,Comedy
3,puqaWrEC7tY,2017-11-14,2017-11-13 11:00:04+00:00,343168,10172,666,2146,24,Entertainment
4,d380meD0W0M,2017-11-14,2017-11-12 18:01:41+00:00,2095731,132235,1989,17518,24,Entertainment

In [12]:
names = ['views', 'likes','dislikes', 'comment_count']

In [5]:
df1 = df[['views', 'likes','dislikes', 'comment_count']]

In [6]:
scaler = StandardScaler()

In [7]:
scaled = scaler.fit_transform(df1)

In [15]:
scaledDf = pd.DataFrame(scaled, columns = names)

In [16]:
scaledDf.head()

      views     likes  dislikes  comment_count
0 -0.218069 -0.073137 -0.025677       0.200566
1  0.007844  0.100131  0.083867       0.113711
2  0.112341  0.313551  0.056067      -0.007101
3 -0.272871 -0.280033 -0.104908      -0.168336
4 -0.035847  0.253267 -0.059333       0.242351

In [17]:
X = scaledDf[['views', 'dislikes', 'comment_count']]

In [18]:
y = scaledDf[['likes']]

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)